{% extends '::layout.html.twig' %}

{% block articulo %}
<div class="span6">
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon">
				<i class="icon-th-list"></i>
			</span>
			<h5>Empleados Encontrados</h5>
		</div>
		<div class="widget-content">
		<ul>
			{% for item in empleado %}
			<li>{{ item.nombreCompleto }}</li>
			{% else %}
			<li>No se ha encontrado ning&uacute;n Empleado con esa b&uacute;squeda</li>
			{% endfor %}
		</ul>
		</div>
	</div>
</div>

{% endblock %}