{% extends '::base.html.twig' %}

{% block body %}
		<div class="container">
			{% block header %}
				<div class="span12">
					<div class="page-header">
						<h1> inventario de  equipos informaticos <small>ithri.net</small></h1>
					</div>
					<ul class="nav nav-pills">
						<li class="active">
							<a href="{{ path('portada') }}">Inicio</a>
						</li>
						
						<li>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('panel') }}">Panel</a>
						{% else %}
							<a href="{{ path('login') }}">Login</a>
						{% endif %}
						</li>
						<li class="dropdown pull-right">
							<form action = "{{ path('client_busqueda') }}" class="form-search">
								<input type="text" class="input-medium search-query" name="buscar" /> 
								<button type="submit" class="btn" value="Buscar">Search</button>
							</form>
						</li>
					</ul>
				</div>			
			{% endblock %}
			
			{% block contenedor %}
				<div class="span12">
					{% block slider %}{% endblock %}
					<div class="span12">
						{% block articulo %}{% endblock %}
					</div>
				</div>
			{% endblock %}
			
			{% block footer %}
			<div class="span12">
					<div class="page-footer">
							<ul class="">
								<li class="">
									<a href="#">Contacto</a>
								</li>
								<li>
									<a href="#">Privacidad</a>
								</li>
								<li>
									<a href="#">Condiciones</a>								
								<li class="">
								</li>
								<li>
									<a href="#">Ayuda</a>
								</li>
							</ul>
						</div>
						<div class="span4">
						</div>
						<div class="span4">
						</div>					
				</div>
			{% endblock %}	
		</div>				
{% endblock %}
